
.text-container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0.25rem;
    border-radius: 2.5rem;

    background-color: rgba(255, 255, 255, 0.3);
    background-blend-mode: soft-light;
    box-shadow: 0 0 6rem 5px #000000;
    outline: 0.25rem solid rgba(255, 255, 255, 0.8);
    box-sizing: border-box;

    color: white;
}